<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="logDir" source="logging.file.path"/>
    <springProperty scope="context" name="springAppName" source="spring.application.name"/>

    <conversionRule conversionWord="escapedMsg" converterClass="com.sanofi.pharma.core.util.EscapedMessageConverter" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %escapedMsg%n</pattern>
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level {"appName":"${springAppName}", "traceId":"%X{traceId:-}","spanId":"%X{spanId:-}","thread":"%thread","message":"%logger{36}.%M - %escapedMsg"}%n</pattern>-->
        </encoder>
    </appender>

    <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logDir}/pharma_server.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %escapedMsg%n</pattern>
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level {"appName":"${springAppName}", "traceId":"%X{traceId:-}","spanId":"%X{spanId:-}","thread":"%thread","message":"%logger{36}.%M - %escapedMsg"}%n</pattern>-->
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logDir}/archived/isales_server_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <totalSizeCap>10GB</totalSizeCap>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFileNamingAndTriggeringPolicy">
                <maxFileSize>200MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>

    <logger name="com.yahoo.elide.graphql.subscriptions" level="DEBUG" />

    <!-- Log Hibernate SQL Statements -->
    <logger name="org.hibernate.SQL" level="INFO" />
    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="INFO" />

    <!-- Log JPA Datastore HQL Statements -->
    <logger name="com.yahoo.elide.datastores.jpql.query.DefaultQueryLogger" level="DEBUG" />


    <!-- Log SQL/JPQL Timings -->
    <logger name="com.yahoo.elide.core.utils.TimedFunction" level="DEBUG" />

    <!-- Log HTTP Error Explanations -->
    <logger name="com.yahoo.elide.graphql.QueryRunner" level="DEBUG" />
    <logger name="com.yahoo.elide.Elide" level="DEBUG" />

    <!-- Log Analytic SQL Queries -->
    <logger name="com.yahoo.elide.datastores.aggregation.core.Slf4jQueryLogger" level="DEBUG" />
    
    <logger name="io.swagger.v3.core.util.ReferenceTypeUtils" level="OFF" />

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="LOGFILE" />
    </root>
</configuration>
